.col-box {
    display: inline-block;
    width: 30%;
    float: left;
}

.save_button_menu {
    display: inline-block;
    margin-top: 50px;
}

.box-color-select {
    position: absolute;
}

.select_font_awesome {
    font-family: 'FontAwesome', 'sans-serif';
}

.hide-field {
    display: none;
}

.show-field {
    display: block;
}